<p data-ng-bind="matchmakingCon.message"></p>
<h4>Current Lobbies</h4>
<ul data-ng-repeat="lobby in matchmakingCon.lobbies">
    <li><a data-ng-bind="lobby" data-ng-click="matchmakingCon.joinLobby(lobby)"></a>
    <a data-ng-click="matchmakingCon.startGame(lobby)">Start Game</a>
    <a data-ng-click="matchmakingCon.endGame(lobby)">End Game</a></li>
</ul>

<form data-ng-submit="matchmakingCon.initGame(lobby, form_data)">
    <input type="text" data-ng-model="form_data.info">
    <input type="submit" id="submit" value="Add Your Route">
</form>

<button data-ng-click="matchmakingCon.createLobby()">Create Lobby</button>

<input type="text" name="input" placeholder="Enter username to start game"
       data-ng-model="matchmakingCon.user"
       required data-ng-trim="false">

